<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="anobot_end_effector" params="
    parent
    tool_link:=anobot_tool_link
    grasp_frame:=anobot_grasp_frame
    tool_length:=0.060
    tool_mass:=0.150
    *origin
  ">

    <!--
      Temporary end-effector envelope for workspace and collision studies.
      Replace with the actual end-effector geometry and mass properties.
    -->
    <link name="${tool_link}">
      <visual>
        <origin
          xyz="0 0 0"
          rpy="${pi} 0 0"/>
        <geometry>
          <mesh 
            filename="package://anobot_description/meshes/60mm_stylus.STL"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="${pi} 0 0"/>
        <geometry>
          <mesh 
            filename="package://anobot_description/meshes/60mm_stylus.STL"/>
        </geometry>
      </collision>
      <inertial>
        <origin
          xyz="0 0 0"
          rpy="${pi} 0 0"/>
        <mass value="${tool_mass}"/>
        <inertia
          ixx="0.002708"
          ixy="0.0"
          ixz="0.0"
          iyy="0.002708"
          iyz="0.0"
          izz="0.001667"/>
      </inertial>
    </link>

    <joint name="${tool_link}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${tool_link}"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <!-- Nominal task frame at the assumed rod gripping point. -->
    <link name="${grasp_frame}"/>

    <joint name="${grasp_frame}_joint" type="fixed">
      <parent link="${tool_link}"/>
      <child link="${grasp_frame}"/>
      <origin xyz="0 0 ${tool_length}" rpy="0 0 0"/>
    </joint>

  </xacro:macro>

</robot>